RPi-3/RPi3-14/websocket_with_node_red_bidirectional_communication.json
[{"id":"f89f23eb395bbfe4","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"e2582aa6c4a1389c","type":"mqtt-broker","name":"","broker":"broker.mqttdashboard.com","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"23480b33e50e5fd2","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#00cc44","baseFont":"Arial Black,Arial Black,Gadget,sans-serif","edited":false,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#d11d10","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#d11d10","edited":true},"page-titlebar-backgroundColor":{"value":"#d11d10","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#f0493d","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#d11d10","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":20,"gy":6,"cx":6,"cy":10,"px":10,"py":10}}},{"id":"e2c3f42a05af82b5","type":"ui_group","name":"Group 2","tab":"","order":2,"disp":false,"width":"3","collapse":false},{"id":"a0b95397a2c54bc1","type":"ui_group","name":"Group 3","tab":"","order":3,"disp":false,"width":"3","collapse":false},{"id":"140fe7f3e436338c","type":"ui_group","name":"Group 4","tab":"","order":4,"disp":false,"width":"3","collapse":false},{"id":"45bf47c3f722e928","type":"ui_group","name":"Group 5","tab":"","order":5,"disp":true,"width":6},{"id":"f8da3b6ed353e7ae","type":"ui_group","name":"Default","tab":"","order":1,"disp":true,"width":"20","collapse":false},{"id":"d985abaf9c610bae","type":"ui_group","name":"quiz","tab":"","order":1,"disp":true,"width":"20","collapse":false},{"id":"fee28854c838dd76","type":"ui_spacer","name":"spacer","group":"d6e527b0e7e44fc9","order":1,"width":1,"height":1},{"id":"9c14f7969a499cf9","type":"ui_tab","name":"MyHome","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"25e201d7f8836281","type":"ui_spacer","name":"spacer","group":"","order":6,"width":1,"height":1},{"id":"db504af821520875","type":"ui_spacer","name":"spacer","group":"","order":5,"width":1,"height":1},{"id":"985ecbc7.67a138","type":"websocket-listener","z":"f89f23eb395bbfe4","path":"/ws/simple","wholemsg":"false"},{"id":"3f06b906a603243a","type":"ui_group","name":"Control light office","tab":"9c14f7969a499cf9","order":1,"disp":true,"width":"6","collapse":false},{"id":"b02e55c5f7471fa6","type":"ui_group","name":"Incoming messages","tab":"9c14f7969a499cf9","order":2,"disp":true,"width":"6","collapse":false},{"id":"e0d88f68beba8cbd","type":"ui_group","name":"color picker","tab":"9c14f7969a499cf9","order":3,"disp":true,"width":"6","collapse":false},{"id":"e3e4522e.1c1bb","type":"inject","z":"f89f23eb395bbfe4","name":"Send date","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"test","payloadType":"date","x":240,"y":180,"wires":[["45dbf990.ba2408"]]},{"id":"50da04b3.af25fc","type":"websocket out","z":"f89f23eb395bbfe4","name":"","server":"985ecbc7.67a138","client":"","x":670,"y":180,"wires":[]},{"id":"42a28745.bd5d78","type":"http response","z":"f89f23eb395bbfe4","name":"","x":630,"y":20,"wires":[]},{"id":"1787be40.e87842","type":"http in","z":"f89f23eb395bbfe4","name":"","url":"/simple","method":"get","upload":false,"swaggerDoc":"","x":261,"y":20,"wires":[["1857548e.e7a8ab"]]},{"id":"1857548e.e7a8ab","type":"template","z":"f89f23eb395bbfe4","name":"Simple Web Page","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE HTML>\n<html>\n    <head>\n    <title>Simple Live Display</title>\n    <script type=\"text/javascript\">\n        var teller = 0;\n        var ws;\n        var wsUri = \"ws:\";\n        var loc = window.location;\n        console.log(loc);\n        if (loc.protocol === \"https:\") { wsUri = \"wss:\"; }\n        // This needs to point to the web socket in the Node-RED flow\n        // ... in this case it's ws/simple\n        wsUri += \"//\" + loc.host + loc.pathname.replace(\"simple\",\"ws/simple\");\n\n        function wsConnect() {\n            console.log(\"connect\",wsUri);\n            ws = new WebSocket(wsUri);\n            //var line = \"\";    // either uncomment this for a building list of messages\n            ws.onmessage = function(msg) {\n                var line = \"\";  // or uncomment this to overwrite the existing message\n                // parse the incoming message as a JSON object\n                console.log(\"msg=\", msg);\n                var data = msg.data;\n                // build the output from the topic and payload parts of the object\n                line += \"<p>\"+data+\"</p>\";\n                // replace the messages div with the new \"line\"\n                document.getElementById('messages').innerHTML = line;\n                //ws.send(JSON.stringify({data:data}));\n            }\n            ws.onopen = function() {\n                // update the status div with the connection status\n                document.getElementById('status').innerHTML = \"connected\";\n                //ws.send(\"Open for data\");\n                console.log(\"connected\");\n            }\n            ws.onclose = function() {\n                // update the status div with the connection status\n                document.getElementById('status').innerHTML = \"not connected\";\n                // in case of lost connection tries to reconnect every 3 secs\n                setTimeout(wsConnect,3000);\n            }\n        }\n        \n        function send_to_websocket_client(m) {\n            teller++;\n            if (ws) { ws.send(m + teller); }\n        }\n    </script>\n    </head>\n    <body onload=\"wsConnect();\" onunload=\"ws.disconnect();\">\n        <font face=\"Arial\">\n        <h1>Simple Live Display</h1>\n        <div id=\"messages\"></div>\n        <button type=\"button\" onclick='send_to_websocket_client(\"clicked on the button in the browser\");'>Click to send message</button>\n        <hr/>\n        <div id=\"status\">unknown</div>\n        </font>\n    </body>\n</html>\n","x":458,"y":20,"wires":[["42a28745.bd5d78"]]},{"id":"45dbf990.ba2408","type":"function","z":"f89f23eb395bbfe4","name":"format time nicely","func":"msg.payload = Date(msg.payload).toString();\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":458,"y":180,"wires":[["50da04b3.af25fc"]]},{"id":"eccc8bc2.133378","type":"websocket in","z":"f89f23eb395bbfe4","name":"","server":"985ecbc7.67a138","client":"","x":460,"y":300,"wires":[["9adfff59.652"]]},{"id":"9adfff59.652","type":"debug","z":"f89f23eb395bbfe4","name":"","active":true,"console":"false","complete":"false","x":650,"y":300,"wires":[]}]